{% extends "base.html" %}
{% block title %}Date Input{% endblock %}

{% block content%}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor%}
    {%  endif %}
  {% endwith%}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-1">
      <form action="" method="POST" name="date_input">
        {{ form.csrt_token }}
        {{ form.date.label }} {{ form.date(class = 'datepicker') }}  {{ form.hidden_tag() }} {{ form.submit() }}
      </form> 
    </div>
    </div>

{% endblock %}